// color template
.color-primary {
  color: $color-primary;
}
.color-primary-bg {
  background-color: $color-primary;
}
.color-second {
  color: $color-secondary;
}
.color-second-bg {
  background-color: $color-secondary;
}

.color-baby-white {
  color: $color-baby-powder;
}
.color-black {
  color: $color-black;
}
