$font-roboto: "Roboto", sans-serif;
$font-rubik: "Rubik", sans-serif;
$font-urbanist: "Urbanist", sans-serif;

$color-primary: #fa98a2;
$color-secondary: #340068;
$color-baby-powder: #fffcf9;
$color-black: #080000;
